/*Gonçalo Cruz - 54959; Tiago Teodoro - 54984  ; Renato Ramires - 54974  ; Margarida Rodrigues - 55141 -  ASW  Grupo 3 */
body {
    background-color: #24305E;
}

#navigation {
    background-color: white;
    color: #24305E;
}

#navigation .w3-input {
    background-color: white;
}

#AzulDiv {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 57%;
    height: 37%;
    background-color: white;
    color: #24305E;
    border-radius: 5px;
}

#AzulDiv img{
    width: 200px;
    height: 200px;
    margin-top: 2.5%;
    margin-left: 3.5%;
}

#AzulDiv h5{
    font-size: larger;
    font-weight: bold;
    padding-left: 33%;
    padding-top: 7%;
}

#AzulDiv h6 {
    padding-left: 33%;
    font-size: small;
}

#AzulDiv p {
    padding-left: 33%;
    font-size: small;
}

#AzulDiv hr {
    position: relative;
    left: 6%;
    width: 5%;
    border-width: 2px;
    border-color: #24305E;
}

#AzulDiv #EditarPerfil {
    position: absolute;
    top: 5%;
    right: 25%;
    background-color: #24305E;
    color: white;
    border-radius: 100px;
}

#AzulDiv #TerminarSessao {
    position: absolute;
    top: 5%;
    right: 1.5%;
    background-color: #eb4034;
    color: white;
    border-radius: 100px;
}

#AzulDiv #EnviarMensagem {
    position: absolute;
    top: 5%;
    right: 17%;
    background-color: #24305E;
    color: white;
    border-radius: 100px;
}

#AzulDiv #Seguir {
    position: absolute;
    top: 5%;
    right: 1.5%;
    width: 14%;
    background-color: #24305E;
    color: white;
    border-radius: 100px;
    text-align: center;
}

#AzulDiv #Seguindo {
    position: absolute;
    top: 5%;
    right: 1.5%;
    width: 14%;
    background-color: white;
    color: #24305E;
    border-radius: 100px;
    box-sizing: border-box;
    border-style: solid;
    border-color: #24305E;
    border-width: 2px;
    text-align: center;
    padding-left: 4px;
    padding-right: 4px;
}

#VolDiv .w3-card-4 {
    width: 70%;
    margin-left: 15%;
    margin-top: 2%;
}

#VolDiv .w3-card-4 img{
    margin-left: 4%;
    margin-top: -4.5%;
    height: 100px;
    width: 100px;
}

#VolDiv .w3-card-4 header{
    background-color: #24305E;
    color: white;
}

#VolDiv .w3-card-4 header p{
    width: 100%;
    text-align: center;
    padding-left: 0%;
}

#VolDiv .w3-card-4 h5{
    font-size: x-large;
    font-weight: bold;
    padding-top: 0%;
    padding-left: 30%;
}

#VolDiv .w3-card-4 h6 {
    padding-left: 30%;
}

#VolDiv .w3-card-4 p {
    padding-left: 30%;
    font-size: smaller;
}

#VolDiv .w3-card-4 button{
    background-color: #24305E;
    color: white;
}

#VolDiv .w3-card-4 ul{
    padding-left: 35%;
}

#VolDiv .w3-card-4 .rescand{
    width: 49.5%;
    display: inline !important;
    margin: 0 !important;
}



/* ---------------------------------------------- */

.hidden{
    display: none;
}

.visible{
    display: visible;
}


#openMensagens {
    position: fixed;
    width: 100px;
    height: 100px;
    top: 42%;
    background-color: #A8D0E6;
    border-radius: 100%;
    box-sizing: border-box;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    z-index: 10;
}

.divClosed {
    right: -3.5%;
}

.divOpen {
    right: 26.5%;
}

#openMp {
    padding-left: 6%;
    font-size: xx-large;
}

#MsgDiv {
    position: absolute;
    top: 41%;
    left: 68.5%;
    width: 23%;
    height: 29%;
    display: inline-block;
    background-color: white;
    color: #24305E;
    border-radius: 5px;
}

#SugDiv {
    position: absolute;
    top: 72%;
    left: 68.5%;
    width: 23%;
    height: 29%;
    display: inline-block;
    background-color: white;
    color: #24305E;
    border-radius: 5px;
}

#PedDiv {
    position: absolute;
    top: 10%;
    left: 68.5%;
    width: 23%;
    height: 29%;
    display: inline-block;
    background-color: white;
    color: #24305E;
    border-radius: 5px;
}

#Ped {
    overflow-y: unset;
}

#Sug {
    overflow-y: unset;
}

#Msg {
    overflow-y: unset;
}

.vermais {
    position: absolute;
    bottom: 0%;
}

.pedido {
    position: relative;
    font-size: xx-small;
    height: 60px;
    width: 100%;
}

.pedido img {
    margin-top: 16px;
    margin-left: -8px;
    height: 30px;
    width: 30px;
}

.pedido p {
    margin-top: 11px;
    margin-left: 35px !important;
    width: 180px;
    height: 110%;
}

.pedido .aceitarped {
    position: absolute;
    height: 25px !important;
    width: 25px !important;
    top: 18px !important;
    left: 255px !important;
    text-align: center;
    padding: 0;
}

.pedido .rejeitarped {
    position: absolute;
    height: 25px !important;
    width: 25px !important;
    top: 18px !important;
    left: 285px !important;
    text-align: center;
    padding: 0;
}

.pedido .estadop {
    position: absolute;
    height: 20px !important;
    width: 50px !important;
    top: 12px !important;
    left: 220px !important;
    padding: 0;
    text-align: center;
}

.sugestao {
    display: block;
    height: 65px;
}

.sugestao img {
    margin-top: 16px;
    margin-left: 5px;
    height: 30px;
    width: 30px;
}

.sugestao h6 {
    margin-top: 11px;
    margin-left: 50px !important;
    width: 180px;
}

.sugestao p {
    margin-top: 0px;
    margin-left: 50px !important;
    width: 180px;
}

.sugestao button {
    height: 35px;
    margin-top: -90px !important;
    margin-left: 180px !important;
    color: white;
    border-radius: 100px;
}

.conversa {
    display: block;
    height: 50px;
}

.conversa:hover {
    background-color: gainsboro;
    cursor: pointer;
}

.conversa img {
    margin-top: 10px;
    margin-left: -5px;
    height: 30px;
    width: 30px;
}

.conversa h6 {
    margin-top: 7px;
    margin-left: 42px !important;
    width: 180px;
}

.conversa p {
    margin-top: -8px;
    margin-left: 42px !important;
    width: 280px;
    
}

.conversa .msgHora {
    margin-top: -42px;
    margin-left: 240px !important;
    width: 80px;
    text-align: right;
}

#conversaopen {
    position: absolute;
    height: 60%;
    width: 100%;
    display: block;
    padding: 0;
}

#conversaopen header {
    position: absolute;
    margin-top: 0%;
    margin-left: 0;
    padding-top: 1%;
    padding-bottom: 1%;
    height: 30px;
    width: 100%;
    box-sizing: border-box;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: #24305E;
}

#conversaopen header button{
    position: absolute;
    left: 1%;
    top: 10%;
    height: 80%;
    width: 7%;
    margin: 0 !important;
    padding: 0 !important;
}

#conversaopen header p{
    position: absolute;
    left: 25%;
    top: 10%;
    height: 80%;
    width: 50%;
    margin: 0 !important;
    padding: 0 !important;
    text-align: center;
}

#conversaopen footer {
    position: absolute;
    bottom: 0%;
    margin-left: 0;
    padding-top: 1%;
    padding-bottom: 1%;
    height: 30px;
    width: 100%;
    background-color: #A8D0E6;
}

#conversaopen footer input {
    position: absolute;
    left: 2%;
    top: 10%;
    height: 80%;
    width: 88%;
    border-radius: 100px;
    padding-left: 2%;
    border-color: #24305E;
}

#conversaopen footer button {
    position: absolute;
    top: 10%;
    right: 2%;
    height: 80%;
    width: 7%;
    border-radius: 100%;
    padding: 0;
}

#conversaopen .textes {
    position: absolute;
    width: 100%;
    top: 30px;
    bottom: 30px;
    background-color: #A8D0E6;
    display: block;
    overflow-y: scroll;
}

#conversaopen .msgt {
    margin-top: 1%;
    width: 100%;
    height: fit-content;
}

#conversaopen .msgown {
    height: fit-content;
    width: 65%;
    margin-left: 2.5%;
}

#conversaopen .msgown img {
    margin-top: 2px;
    height: 26px;
    width: 26px;
}

#conversaopen .msgown .msgtext {
    height: fit-content;
    width: 80%;
    height: 100%;
    margin-left: 16%;
    background-color: #24305E;
    border-radius: 5px;
    padding: auto;
}

#conversaopen .msgown .msgtextp {
    max-width: 80%;
    height: fit-content;
    font-size: x-small;
    color: white;
    margin-left: 3%;
}

#conversaopen .msgown .msgtexth {
    max-width: 80%;
    height: fit-content;
    font-size: xx-small;
    margin-top: -5%;
    margin-left: 80%;
    color: white;
}

#conversaopen .msgother {
    height: fit-content;
    width: 65%;
    margin-left: 32.5%;
}

#conversaopen .msgother img {
    position: absolute;
    margin-top: 2px;
    height: 26px;
    width: 26px;
    right: 2.5%;
}

#conversaopen .msgother .msgtext {
    height: fit-content;
    width: 80%;
    height: 100%;
    margin-left: 2%;
    border-radius: 5px;
    background-color: #24305E;
    padding: auto;
}

#conversaopen .msgother .msgtextp {
    max-width: 80%;
    height: fit-content;
    font-size: x-small;
    color: white;
    margin-left: 3%;
}

#conversaopen .msgother .msgtexth {
    max-width: 80%;
    height: fit-content;
    font-size: xx-small;
    margin-top: -5%;
    margin-left: 80%;
    color: white;
}

.searchMessage {
    width: 85%;
    box-sizing: unset;
    border-style: none;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 100px;
    padding-left: 2%;
}

.searchMessage ::placeholder{
    color: #24305E;
    opacity: 1;
}

#searchMensagemDiv {
    position: absolute;
    width: 80% !important;
    max-height: 120px;
    left: 13%;
    top: 38%;
    overflow-y: scroll;
    box-sizing: border-box;
    border-style: solid;
    border-color: #24305E;
    border-top: none;
}

#searchMensagemDiv button{
    width: 100% !important;
    height: 50px;
}

#searchMensagemDiv img{
    margin-top: 0.8%;
    width: 30px;
    height: 30px;
}

#searchMensagemDiv p{
    width: 85%;
    margin-left: 17%;
    margin-top: -1.4%;
    text-align: left !important;
    padding-left: 0 !important;
    padding-bottom: 0;
}

.procuraMtipo {
    margin-top: -9% !important;
}

/* ------------------------- FILTRAR ------------------------- */

#divFiltrar {
    margin-top: 2%;
    height: 500px;
    width: 100%;
}

#filtrar {
    height: 100%;
    width: 100%;
}


#filterb{
    margin-left: 40%;
    width: 20%;
    height: 5%;
}

.dis {
    width: 25% !important;
    display: inline;
}

#esq{
    position: absolute;
    margin-top: 2%;
    margin-left: 2%;
    height: 32%;
    width: 46%;
}

#dir{
    position: absolute;
    margin-top: 2%;
    margin-left: 50%;
    height: 32%;
    width: 46%;
}


#procura {
    position: relative;
    margin-top: 53%;
    left: 40%;
    width: 20%;
    text-align: center;
}



/* -------------------------------------------------- */

#BodyDiv {
    position: absolute;
    top: 50%;
    left: 10%;
    width: 57%;
    display: inline-block;
    background-color: white;
    color: #24305E;
    border-radius: 5px;
}

#BodyDiv #MenuBody {
    width: 100%;
    height: 45px;
}

#BodyDiv #Perfil {
    margin-top: 0.25%;
    margin-left: 0.25%;
    width: 32.5%;
    border-radius: 100px;
    z-index: 10;
}

#BodyDiv #Feed {
    margin-top: 0.25%;
    width: 32.5%;
    border-radius: 100px;
    z-index: 10;
}

#BodyDiv #Atividades {
    margin-top: 0.25%;
    width: 32.5%;
    border-radius: 100px;
    z-index: 10;
}

#BodyDiv .cand {
    width: 80%;
    margin-left: 10%;
}

/* --- PAR ---*/

.divnome_par {
    position: relative;
    left: 42%;
    top: 2%;
    background-color: white;
    color: #24305E;
    max-width: 20%;
    height: 10%;
    border-radius: 100px;
}

.divnome_par #avatar{
    position: absolute;
    left: 3%;
    top: 10%;
    width: 10%;
    height: 80%;
    box-sizing: border-box;
    border-style: solid;
    border-color: #24305E;
    border-width: 2px;
}

.divnome_par h6{
    padding-left: 16%;
    padding-top: 1.2%;
    max-width: 100%;
    height: 80%;
    font-weight: bold;
}

.divcom_par {
    position: relative;
    left: 42%;
    top: 0.5%;
    color: white;
    max-width: 56%;
    height: 10%;
}

.divcom_par p {
    font-size: small;
    padding-left: 1%;
    padding-top: 0%;
}

.divtext_par {
    position: relative;
    left: 42.2%;
    top: -5%;
    color: white;
    max-width: 56%;
    height: 10%;
}

.divtext_par p {
    padding-left: 1%;
    padding-top: 0%;
}

/* --- IMPAR ---*/

.divnome_impar {
    position: relative;
    left: 1%;
    top: 2%;
    background-color: #24305E;
    color: white;
    max-width: 20%;
    height: 10%;
    border-radius: 100px;
}

.divnome_impar #avatar{
    position: absolute;
    left: 3%;
    top: 10%;
    width: 10%;
    height: 80%;
    box-sizing: border-box;
    border-style: solid;
    border-color: white;
    border-width: 2px;
}

.divnome_impar h6{
    padding-left: 16%;
    padding-top: 1.2%;
    max-width: 100%;
    height: 80%;
    font-weight: bold;
}

.divcom_impar {
    position: relative;
    left: 1%;
    top: 0.5%;
    color: #24305E;
    max-width: 56%;
    height: 10%;
}

.divcom_impar p {
    font-size: small;
    padding-left: 1%;
    padding-top: 0%;
}

.divtext_impar {
    position: relative;
    left: 1.2%;
    top: -5%;
    color: #24305E;
    max-width: 56%;
    height: 10%;
}

.divtext_impar p {
    padding-left: 1%;
    padding-top: 0%;
}

/* ----------- */

.pubpar {
    height: 300px;
    width: 100%;
    color: white;
    background-color: #24305E;
    box-sizing: border-box;
    border-width: 5px;
    border-style: solid;
    border-color: #A8D0E6;
}

.pubpar img {
    position: absolute;
    width: 40%;
    height: 290px;
    z-index: 2;
}

.pubimpar {
    height: 300px;
    width: 100%;
    color: #24305E;
    background-color: white;
    box-sizing: border-box;
    border-width: 5px;
    border-style: solid;
    border-color: #A8D0E6;
}

.pubimpar img {
    position: absolute;
    right: 0%;
    width: 40%;
    height: 290px;
    z-index: 2;
}









#EndDiv{
    margin: 0;
    position: absolute;
    top: 220%;
    width: 100%;
    height: 30%;
    background-color: #374785;
    color: white;
    font-size: small;
}

.vl {
    border-left: 4px solid white;
    height: 50%;
    position: absolute;
    left: 50%;
    margin-left: -2px;
    top: 17%;
  }

#endContactosL{
    position: absolute;
    top: 21%;
    left: 51%;
}

#endPaginas1{
    position: absolute;
    top: 13%;
    left: 29%;
}

#endPaginas2{
    position: absolute;
    top: 23%;
    left: 38%;
}

#endD{
    position: absolute;
    bottom: 0%;
    left: 27%;
    max-width: 50%;
    text-align: center;
} 