/*Gonçalo Cruz - 54959; Tiago Teodoro - 54984  ; Renato Ramires - 54974  ; Margarida Rodrigues - 55141 -  ASW  Grupo 3 */

#topSugestaoDiv{
    position: absolute;
    background-color: white;
    left:15%;
    max-height: 40%;
    width: 25%;
    text-align: center;
    z-index: 150;
    overflow-y: scroll;
}

#topSugestaoDiv .hidden{
    display: none;
}

#topSugestaoDiv .visible{
    display: visible;
}

.ProcuraImg {
    position: relative;
    width: 40px;
    height: 40px;
    margin-left: 7%;
    margin-top: 5%;
}

#topSugestaoDiv button{
    width: 100%;
}