/* Gonçalo Cruz - 54959; Tiago Teodoro - 54984  ; Renato Ramires - 54974  ; Margarida Rodrigues - 55141 -  ASW  Grupo 3 */

body {
    background-color: white;
}

#navigation {
    background-color: white;
    color: #24305E;
}

#navigation .w3-input {
    background-color: white;
}

#AzulDiv {
    margin: 0;
    position: absolute;
    top: 5.94%;
    width: 100%;
    height: 10%;
    background-color: #24305E;
    color: white;
}

#Azul hr {
    width: 15%;
    margin: auto;
    border-width: 2px;
    border-color: white;
}

#Azul p {
    max-width: 65%;
    text-align: center;
    margin: auto;
}

.main-grid {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 50% 50%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
    margin-bottom: 5%;
    background-color: white;
}

.mid-grid {
    display: grid;
    grid-template-rows: 55px 55px 55px 55px 55px 55px 55px;
    grid-template-columns: 100% 100%;
    grid-gap: 10px;
    padding: 40px;
    padding-left: 20px;
    padding-right: 0px;
    position: relative;
    color: #24305E;
    text-align: center;
    text-decoration: none;
}

/* -----------------------------------------------Nome Próprio----------------------------------------- */

#nomeProprio{
    padding: 9px;
    font-size: large;
    margin-right: 5%;
    background-color: #f8f8f8;
    height: 51.2%;
    width: 100%;
    height: 75%;
    color: #24305E;
}

#nomeProprio:focus { 
    outline: none !important;
}

::placeholder {
    color: #24305E;
    opacity: 1;
}

/* -----------------------------------------------Data de Nascimento----------------------------------------- */

  #dataNascimento{
    padding: 9px;
    margin-right: 5%;
    font-size: large;
    color: #24305E;
    background-color: #f8f8f8;
    width: 100%;
    height: 75%;
}

#dataNascimento:focus { 
    outline: none !important;
    color: #24305E;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
    color: #24305E;
}

/* -----------------------------------------------Género----------------------------------------- */

.genero_div{
    padding: 9px;
    height: 20%;
    top: -50%;
    color: #24305E;
    position: relative;
}

#genero{
    padding: 9px;
    font-weight: 600;
    font-size: large;
    margin-top: 3px;
    margin-left: 25px;
    width: 70%;
    color: #24305E;
    position: absolute;
}

input#Homem{
    position: relative;
    right: 39%;
    margin-top: 14%;
    color: #24305E;
}

#homem1{
    padding: 9px;
    font-size: large;
    width: 70%;
    top: 420%;
    right: 42%;
    color: #24305E;
    position: relative;
}

input#Mulher{
    position: absolute;
    right: 70%;
    top: 320%;
    color: #24305E;
}

#mulher1{
    padding: 9px;
    font-size: large;
    width: 70%;
    top: 232%;
    right: 25%;
    color: #24305E;
    position: absolute;
}

input#outro{
    position: absolute;
    top: 325%;
    right: 44%;
    color: #24305E;
}

#outro1{
    padding: 9px;
    font-size: large;
    width: 70%;
    top: 232%;
    left: 42.5%;
    color: #24305E;
    position: absolute;
}

/* -----------------------------------------------Foto----------------------------------------- */ 

#foto_div{
    padding: 9px;
    height: 20%;
    top: -30%;
    color: #24305E;
    position: relative;
}

#foto{
    padding: 9px;
    border-radius: 3px;
    font-weight: 600;
    font-size: large;
    margin-top: -10px;
    margin-left: 25px;
    width: 70%;
    color: #24305E;
    position: absolute;
}

#avatar{
    padding: 9px;
    border-radius: 3px;
    margin-top: 25px;
    top: -11%;
    right: 4%;
    width: 110%;
    color: #24305E;
    position: relative;
}

/* -----------------------------------------------Distrito----------------------------------------- */

#distrito{
    padding: 9px;
    font-size: large;
    margin-right: 5%;
    background-color: #f8f8f8;
    width: 100%;
    height: 75%;
    color: #24305E;
    margin-top: 4%;
}

#distrito:focus { 
    outline: none !important;
}

/* -----------------------------------------------Concelho----------------------------------------- */

#concelho{
    padding: 9px;
    font-size: large;
    margin-right: 5%;
    background-color: #f8f8f8;
    width: 100%;
    height: 75%;
    color: #24305E;
    margin-top: 4%;
}

#concelho:focus { 
    outline: none !important;
}

/* -----------------------------------------------Freguesia----------------------------------------- */

#freguesia{
    padding: 9px;
    font-size: large;
    margin-right: 5%;
    background-color: #f8f8f8;
    height: 75%;
    width: 100%;
    color: #24305E;
    margin-top: 4%;
}

#freguesia:focus { 
    outline: none !important;
}

/* -----------------------------------------------Telefone----------------------------------------- */

#telefone{
    padding: 9px;
    font-size: large;
    margin-right: 5%;
    background-color: #f8f8f8;
    height: 75%;
    width: 100%;
    color: #24305E;
}

#telefone:focus { 
    outline: none !important;
}

/* -----------------------------------------------Cartão de Cidadão----------------------------------------- */

#CC{
    padding: 9px;
    font-size: large;
    margin-right: 5%;
    background-color: #f8f8f8;
    height: 75%;
    width: 100%;
    color: #24305E;
}

#CC:focus { 
    outline: none !important;
}

/* -----------------------------------------------Carta de Condução----------------------------------------- */

.Carta_div{
    padding: 9px;
    height: 20%;
    top: -40%;
    color: #24305E;
    position: relative;
} 

#CartaC{
    padding: 9px;
    font-weight: 600;
    font-size: large;
    margin-top: -3px;
    margin-left: 43px;
    width: 70%;
    color: #24305E;
    position: absolute;
}

input#Sim{
    position: absolute;
    top: 300%;
    right: 75%;
    color: #24305E;
}

#Sim1{
    padding: 9px;
    font-size: large;
    width: 70%;
    top: 212%;
    right: 34%;
    color: #24305E;
    position: absolute;
}

input#Não{
    position: absolute;
    top: 300%;
    right: 33%;
}

#Não1{
    padding: 9px;
    font-size: large;
    width: 70%;
    top: 212%;
    right: -8%;
    color: #24305E;
    position: absolute;
}

/* -----------------------------------------------Covid----------------------------------------- */

.Covid_div{
    padding: 9px;
    height: 20%;
    top: -30%;
    color: #24305E;
    position: relative;
} 

#Covid{
    padding: 9px;
    font-weight: 550;
    font-size: large;
    margin-top: -2px;
    margin-left: -45px;
    width: 120%;
    color: #24305E;
    position: absolute;
}

input#SimC{
    position: absolute;
    top: 300%;
    right: 75%;
}

#Sim2{
    padding: 9px;
    font-size: large;
    width: 70%;
    top: 212%;
    right: 34%;
    color: #24305E;
    position: absolute;
}

input#NãoC{
    position: absolute;
    top: 300%;
    right: 33%;
}

#Não2{
    padding: 9px;
    font-size: large;
    width: 70%;
    top: 212%;
    right: -8%;
    color: #24305E;
    position: absolute;
}

/* -----------------------------------------------E-mail----------------------------------------- */

#E-mail{
    padding: 9px;
    font-size: large;
    margin-right: 5%;
    background-color: #f8f8f8;
    height: 51.2%;
    width: 100%;
    height: 75%;
    color: #24305E;
    margin-top: 4%;
}

#E-mail:focus { 
    outline: none !important;
}

/* -----------------------------------------------Password----------------------------------------- */

#Password{
    padding: 9px;
    font-size: large;
    margin-right: 5%;
    background-color: #f8f8f8;
    height: 75%;
    width: 100%;
    color: #24305E;
    margin-top: 4%;
}

#Password:focus { 
    outline: none !important;
}

/* -----------------------------------------------Fim da Página----------------------------------------- */

#EndDiv{
    margin: 0;
    position: absolute;
    top: 120%;
    width: 100%;
    height: 30%;
    background-color: #374785;
    color: white;
    font-size: small;
}

.vl {
    border-left: 4px solid white;
    height: 50%;
    position: absolute;
    left: 50%;
    margin-left: -2px;
    top: 17%;
  }

#endContactosL{
    position: absolute;
    top: 21%;
    left: 51%;
}

#endPaginas1{
    position: absolute;
    top: 13%;
    left: 29%;
}

#endPaginas2{
    position: absolute;
    top: 23%;
    left: 38%;
}

#endD{
    position: absolute;
    bottom: 0%;
    left: 27%;
    max-width: 50%;
    text-align: center;
}

/* -----------------------------------------------Botão Registar----------------------------------------- */

#submit{
    padding: 9px;
    font-size: large;
    font-weight: 550;
    margin-right: 5%;
    background-color: #f8f8f8;
    height: 75%;
    width: 100%;
    color: #24305E;
    margin-top: 4%;
    text-align: center;
}

/* -----------------------------------------------Login----------------------------------------- */

#home{
    padding: 9px;
    font-size: large;
    margin-left: -50%;
    height: 75%;
    width: 100%;
    color: #24305E;
    text-align: center;
}
