/*Gonçalo Cruz - 54959; Tiago Teodoro - 54984  ; Renato Ramires - 54974  ; Margarida Rodrigues - 55141 -  ASW  Grupo 3 */
body {
    background-color: white;
}

#navigation {
    background-color: white;
    color: #24305E;
}

#navigation .w3-input {
    background-color: white;
}


#topDiv{
    position: absolute;
    width: 100%;
    height: 65%;
    background-image: url('../Images/slide8.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 0.6;
}

#topDiv h5{
    position: absolute;
    left: 40%;
    top: 59%;
    width: 20%;
    height: 6.7%;
    color: white;
    background-color: #24305E;
    border-radius: 10px;
    z-index: 11;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    text-align: center;
    font-weight: bolder;
}

#topDiv input{
    position: absolute;
    left: 37.5%;
    top: 71%;
    width: 25%;
    height: 10%;
    color: #24305E;
    z-index: 3;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
    background-color: white;
    text-align: center;
    font-weight: bolder;
    border-radius: 50px;
    padding-left: 2px;
    padding-right: 2px;
    box-sizing: border-box;
    border-style: solid;
    border-width: 4px;
    border-color: #24305E;
}

#topDiv input::placeholder{
    color: #24305E;
}

#filtrar{
    position: absolute;
    top: 84%;
    left: 5%;
    width: 90%;
    height: 55%;
}

#filtrar input {
    width: 95%;
}

#filtrar select {
    width: 95%;
}

.dis {
    width: 25% !important;
    display: inline;
}

.entrou{
    z-index: 30;
    background-color: orangered;
    position: absolute;
    top: 100%;
    left: 5%;
    width: 90%;
}

#esq{
    position: absolute;
    margin-top: 0%;
    left: 2%;
    height: 50%;
    width: 46%;
}

#dir{
    position: absolute;
    margin-top: 0%;
    left: 52%;
    height: 50%;
    width: 46%;
}


#procura {
    position: absolute !important;
    top: 105.5% !important;
    left: 42.5% !important;
    height: 10%;
    width: 15% !important;
    background-color: #24305E;
    color: white;
    z-index: 50 !important;
}

#hp {
    position: absolute;
    width: 100%;
    top: 74%;
    color: #24305E;
}
/*
.w3-ul {
    position: absolute;
    top: 80%;
    left: 5%;
    max-width: 50%;
    color: #24305E;
}

.w3-ul select {
    position: relative;
    left: 5%;
    color: #24305E;
}
*/

#VolDiv .w3-card-4 {
    width: 70%;
    margin-left: 15%;
    margin-top: 2%;
}

#VolDiv .w3-card-4 img{
    margin-left: 2%;
    margin-top: -3%;
    height: 200px;
    width: 200px;
}

#VolDiv .w3-card-4 header{
    background-color: #24305E;
    color: white;
}

#VolDiv .w3-card-4 h5{
    font-size: larger;
    font-weight: bold;
    padding-top: 2%;
    padding-left: 30%;
}

#VolDiv .w3-card-4 h6 {
    padding-left: 30%;
}

#VolDiv .w3-card-4 p {
    padding-left: 30%;
    font-size: smaller;
}

#VolDiv .w3-card-4 button{
    background-color: #24305E;
    color: white;
}

#VolDiv .w3-card-4 ul{
    padding-left: 35%;
}

#VolDiv {
    margin-top: 76%;
}

/* ------------------------------------------------------- */

#EndDiv{
    margin: 0;
    position: absolute;
    top: 298%;
    width: 100%;
    height: 30%;
    background-color: #374785;
    color: white;
    font-size: small;
}

.vl {
    border-left: 4px solid white;
    height: 50%;
    position: absolute;
    left: 50%;
    margin-left: -2px;
    top: 17%;
  }

#endContactosL{
    position: absolute;
    top: 21%;
    left: 51%;
}

#endPaginas1{
    position: absolute;
    top: 13%;
    left: 29%;
}

#endPaginas2{
    position: absolute;
    top: 23%;
    left: 38%;
}

#endD{
    position: absolute;
    bottom: 0%;
    left: 27%;
    max-width: 50%;
    text-align: center;
}